table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
	padding: 7px;
}

td { 
    padding: 10px;
}

th {
	background: linear-gradient(180deg, rgb(194, 194, 194) 20%, rgb(255, 255, 255)  100%);
	font-weight: 400;
	text-align: left;
}

th a {
	text-decoration: none;
	color: black;
	font-weight: bold;
}

th a:hover {
	color: blue;
}

/*tr:nth-child(even) td:nth-child(1) {
	background-color: red;
}
*/
#header th {
	color: black;
	font-weight: bold;
}

.paginator a {
	text-decoration: none;
	color: blue;
}
